
<style>

.myDiv {
  border: none;
  background-color: #FFD55A;
  text-align: right; 
  height: 150px; 
  width: 100vw; 
  position: absolute;
  top: 0px; 
  left: 0px;

}  

.myCenterDiv {
  border: 1px solid black; 
  background-color: #FFFFFF;
  text-align: center;
  position: absolute;
  left: 30%;
  top: 30%;
  height: 400px;
  width: 600px;
}

.myBoxDiv {
  background-color: #000000;
  text-align: center;
  position: absolute;
  left: 30%;
  top: 80%;
  height: 100px;
  width: 600px;
}

.myBottomDiv {
  border: none; 
  background-color: #293250;
  height: 50px; 
  position: fixed;
  bottom: 0px;
  left: 0px; 
  width: 100vw; 
}
</style>


<div class = "myDiv">
  <h2> Wild Outdoors Hiking </h2>
</div>

<div class = "myCenterDiv">
  <h2>PHOTO SCROLL CODE WILL GO HERE</h2>
</div>

<div class = "myBoxDiv">
  <h2> Ayeeeee</h2>
</div>

<div class = "myBottomDiv">
</div>


<router-outlet></router-outlet>
