
<div class = "myDiv">
    <h1> Wild Outdoors Hiking </h1>
  </div>
  
  <div class = "myCenterDiv">
    <h2>Suggested Gear For your Hiking Trip!</h2>
    <ng-image-slider [images]="imgCollection" #nav> </ng-image-slider>
    <br>
    <br>
    <h3>The local temperature for your hike is {{finalLocalTemp}} degrees F.</h3>
  </div>
  
  <div class = "myBoxDiv">
    <input type = "text" id="zipCode" style="background-color: #6DD47E; border: 1px solid black" value="12345" #zipCode>
    &nbsp; <br>
    <br>
    <button type="button" (click)='getZipCode(zipCode.value)'> Submit</button>
    <p> Enter the zipcode of the hiking location to see the recommended gear</p>
  </div>
  
  <div class = "myBottomDiv">
  </div>